.formBox {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Input {
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: rgb(187, 255, 61) ;
    font-family:sans-serif;
    font-size: 1.3rem;
    margin: 5px 0px;
  }

  .button {
    width: 30%;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color:cyan;
    cursor: pointer;
    font-family:sans-serif;
    font-size: 1.2rem;
}

  .button:active {
    box-shadow: 0px 2px 5px red;
    transform:translateY(2px);

}